version: '3.8'

services:
    database:
        image: mysql:8.0.32
        environment:
            MYSQL_DATABASE: ${MYSQL_DATABASE}
            MYSQL_USER: ${MYSQL_USER}
            MYSQL_PASSWORD: ${MYSQL_PASSWORD}
            MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
        ports:
            - "3307:3306"
        volumes:
            - db_data:/var/lib/mysql
        command: --default-authentication-plugin=mysql_native_password

    php:
        build:
            context: ./docker/php
        volumes:
            - .:/var/www/html
        environment:
            DATABASE_URL: ${DATABASE_URL}
        depends_on:
            - database

    nginx:
        image: nginx:alpine
        ports:
            - "8080:80"
        volumes:
            - .:/var/www/html
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - php

volumes:
    db_data:
